:root {
    --ca-button-primary: #ff4747;
}

#nwin-body  .hero_image_container .hero_image {
    background-image: url('/images/partners/eco-tech-conservatories/hero.png');
    background-position: center center;
    background-size: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 2rem;
    height: 600px;
    margin-left: -3rem;
}

