:root {
    --ca-button-primary: #ff4747;
}
#eco-tech-conservatories-body .menu_container a {
    display:none;
}
#eco-tech-conservatories-body .masthead .logo_container img  {
    margin-top:0.5rem;
    height:80px;
    width:auto;
}
#eco-tech-conservatories-body  .hero_image_container .hero_image {
    background: url(/images/hero/window1.png);
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    position: relative;
    padding: 2rem;
    transform: rotate(-10deg);
    height: 600px;
    margin-left: -3rem;
}

