section.faqs dt {
    border:1px solid #e8e8e8;
    border-left: 8px solid var(--ca-tertiary);
    position: relative;
}
section.faqs dt .icon {
    position: absolute;
    right:15px;
    top:5px;
    height:40px;
}
section.faqs dt:hover .icon {
    transform: rotate(90deg);
}
section.faqs dt.open .icon {
    transform: rotate(-90deg);
}
section.faqs dl {
    margin-bottom: 0;
}
section.faqs dt a {
    padding:1rem 0 1rem 1rem;
    width:100%;
    display: flex;
    color: #21427f;
}
section.faqs dt a span {
    padding-right: 3.8rem;
}
section.faqs dt a:active,
section.faqs dt a:hover {
    color: var(--ca-tertiary);
}
section.faqs dd {
    padding:1rem 0;
}
section.faqs dt a {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
section.faqs dt a span {
    padding-right: 1rem;
}
section.faqs dt .icon {
    position: static;
}
@media print, screen and (max-width: 40em) {
    section.faqs {
        text-align: center;
        padding-top:0;
    }
    section.faqs h3 {
        font-size: 2.5rem;
        line-height: 2.7rem;
        margin-top:1rem;
        margin-bottom: 1rem;
    }
    section.faqs dl {
        text-align: left;
    }

}
