footer {
    background:#21427f;
    bottom:0;
    padding:2rem 0;
    width:100%;
    border-bottom: 8px solid var(--ca-tertiary);
}
footer .logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
}
footer .logo_container svg {
    width:80px;
    height:auto;
}
footer .logo_container svg g {
    fill: var(--ca-white);
}
footer .block p.title {
    color: var(--ca-white);
    font-family: "Lato Black";
    font-size:1.2rem;
    margin-bottom: 0.2rem;
}
footer .block p.content {
    font-size:0.9rem;
    margin-top:0.4rem;
    margin-bottom: 0.3rem;
    color: var(--ca-white);
}
footer .block ul {
    list-style: none;
    padding:0;
    margin:0.4rem 0 ;
}
footer .block ul li a {
    font-size:0.9rem;
    padding:0.2rem 0;
    display: inline-block;
    color: var(--ca-white);
}
footer .block ul li a:hover {
    text-decoration: none;
    color: var(--ca-tertiary);
}
footer .block.address p.content {
    line-height: 1.5rem;
}
footer .block hr {
    width: 80px;
    height: 3px;
    border-bottom: 5px solid var(--ca-tertiary);
    justify-items: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
    margin:0;
}
footer p.copyright {
    color: var(--ca-white);
    text-align: left;
    font-size: 0.6rem;
    margin-top:1rem;
}

footer .ca {
    color:#F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
    font-size:0.8rem;
}
footer .ca img {
    height:20px;
    margin: 0.4rem;
    vertical-align: center;
}
footer .ca a {
    color:#F2F2F2;
    text-decoration: underline;
}

footer .block .content a {
    color:#FFFFFF;
    text-decoration: none;
}
footer .block .content a:hover {
    color:#FFFFFF;
    text-decoration: underline;
}
@media print, screen and (max-width: 40em) {
    footer {
        text-align: center;
    }
    footer .block hr {
        justify-items: center;
        margin:auto;
    }
    footer .logo_container {
        padding-top:2rem;
        flex-direction: row;
        align-content: center;
    }
    footer .block ul li a {
        font-size:0.9rem;
        padding:0.4rem 0;
    }
    footer p.copyright {
        text-align: center;
        padding:1rem 0;
    }
    footer .block.address p.content {
        margin-top:0.8rem;
        line-height: 1.4rem;
    }
}
