.how_we_work {
    text-align: center;
}
.how_we_work h2 {
    font-size:3rem;
}
.how_we_work .card {
    padding:1rem;
    border: 0;
}
.how_we_work .card .image_container {
    margin-bottom: 1rem;
}
.how_we_work .card .image_container img,
.how_we_work .card .image_container svg
{
    height:200px;
}
.how_we_work .card p.title {
    font-weight:bold;
    font-size:1.2rem;
}
.how_we_work .cta_container .button {
    background:var(--ca-button-primary);
    border:2px solid var(--ca-button-primary);
}
.how_we_work .cta_container .button:hover {
    background: var(--ca-white);
    color:var(--ca-button-primary);
}
.how_we_work .text_scroller {
    color:#000000;
}
@media print, screen and (max-width: 640px) {
    .how_we_work .cta_container {
        padding: 0 !important;
        display: flex;
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
        margin: auto;
    }

    .how_we_work .cta_wrapper {
        margin: 0;
    }
}
@media print, screen and (max-width: 420px) {
    .how_we_work .cta_container {
        padding:0.5rem;
        width:100%;
    }
    .how_we_work .cta_container .cta_container {
        padding:0;
    }
    .how_we_work .cta_container .cta_container a {
        font-size:1.1rem;
    }
}
