.price_beater {
    background-color: var(--ca-tertiary);
    color: var(--ca-white);
}
.price_beater .image_container img {
    transform: rotate(-20deg);
}
.price_beater .content_container {
    padding:0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media print, screen and (max-width: 1024px) {
    .price_beater {
        text-align: center;
    }
    .price_beater h3 {
        font-size: 2.5rem;
        line-height: 2.7rem;
    }
}

