
.why_customers_love_us {
    text-align: center;
    background:url('/images/waves.png');
}
.why_customers_love_us h2 {
    color:#FFFFFF;
}
.why_customers_love_us .card {
    padding:1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: left;
    justify-content: left;
    background: none;
    border:0;
}
.why_customers_love_us .card .blurb  {
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    color:#FFFFFF;

}

.why_customers_love_us .card p.title {
    font-weight:bold;
    color:#FFFFFF;
    font-size:1.4rem;
    margin-bottom: 1rem;
}
.why_customers_love_us .card p {
    line-height: 1.3rem;
    margin-bottom: 0;
}

.why_customers_love_us .card .circle {
    background: #FFFFFF;
    border-radius: 3rem;
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0.7rem;
}
.why_customers_love_us .card .image {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-right: 1rem;
}
@media print, screen and (max-width: 40em) {
    .why_customers_love_us h2 {
        font-size: 2.5rem;
        line-height: 2.7rem;
    }
    .why_customers_love_us .card {
        margin-bottom: 0;
        padding-bottom:0;
    }
}

